.Main {
  display: flex;
  height: calc(100vh - 1em);
}

.Main-slider {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: #b8b8b8;
  background-clip: content-box;
  cursor: col-resize;
  width: 1px;
}

.Main-content {
  flex: 1 0;
}
