.Main {
  display: flex;
  height: calc(100vh - 2.6em - 3px);
}

.Main-aside {
  overflow-y: scroll;
}

.Main-slider {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: #b8b8b8;
  background-clip: content-box;
  cursor: col-resize;
  margin-left: -1px;
  width: 3px;
  z-index: 7;
}

.Main-content {
  flex: 1;
  margin-left: -1px;
}
