{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "eqeqeq": 2,
    "no-cond-assign": 1,
    "no-empty": 1,
    "no-undef": 2,
    "no-unused-vars": 1,
    "no-use-before-define": 2,
    "semi": 1
  }
}
