<div class="HiddenTable js-hidden-table">
  <table>
    <thead>
      <tr>
        <th *ng-for="#key of table.keys">{{key}}</th>
      </tr>
    </thead>
  </table>
</div>
<div class="FixedTable" [style.width.px]="tableWidth">
  <div class="FixedTable-header"></div>
  <div class="FixedTable-content">
    <table class="Table">
      <thead class="Table-header">
        <tr>
          <th *ng-for="#key of table.keys; #i=index" [attr.data-index]="i">
            <div class="Table-field">{{key}}</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ng-for="#row of table.rows">
          <td *ng-for="#key of table.keys">{{row[key]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
